/* ///////////////////////// BOX //////////////////////////////////// */

.box {
    /* m10 */
    /* p20 */
    /* w100 */
    /* h50 */
}

/* ///////////////////////// FLEX //////////////////////////////////// */

.container {
    /* d:f */
    /* fd:c */
    /* jc:c */
    /* ai:c*/
    /* g10 */
}

/* ///////////////////////// BACKGROUND & COLOR //////////////////////////////////// */

body {
    /* bgc:black */
    /* c:pink */
    /* bdrs16 */
}